<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PetIQ Whiteboard</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
	<link rel="stylesheet" href="/node_modules/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body ng-app="ngWhiteboard">
	
	<md-content>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>PetIQ Whiteboard</span>
				</h2>
				<span flex></span>
				<md-button aria-label="Edit">
					<md-icon class="mdi mdi-magnify"></md-icon> Edit
				</md-button>
			</div>
		</md-toolbar>
	</md-content>



	<div layout="row" layout-xs="column">
		<md-content layout-padding flex style="background:tomato">

			<md-input-container>
				<label>Project</label>
				<input type="text" value="petiqproducts.com">
			</md-input-container>
		</md-content>
		
		<md-content layout-padding flex style="background:tomato">
			<h4>Review</h4>
      <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
		</md-content>

		<md-content layout-padding flex style="background:tomato">
			<h4>Live</h4>
      <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
		</md-content>
	
		<md-content layout-padding flex>
		    <md-button aria-label="Edit">
					<md-icon class="mdi mdi-lead-pencil"></md-icon> Edit
				</md-button>
		</md-content>

	</div>

	<div layout="row" layout-xs="column">
		<md-content layout-padding flex style="background:#999">
			 <md-input-container>
        <label>Project</label>
        <input type="text">
      </md-input-container>
		</md-content>
	</div>




	  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

	<script src='/assets/scripts/app.js'></script>
	<script src="/components/whiteboard.ctr.js"></script>
</body>
</html>